AZURE_OPENAI_API_KEY=your_api_key_here
AZURE_OPENAI_ENDPOINT=your_endpoint_here
API_VERSION=your_api_version_here
DEPLOYMENT_NAME=your_deployment_name_here

STORAGE_ACCOUNT_URL=your_storage_account_url
CONTAINER_NAME=your_container_name
BLOB_NAME=your_blob_name

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=your_langsmith_endpoint
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT=your_langsmith_project
